<ion-header >
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Vos informations </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content >
  <div>
  <img  src="/assets/icon/yassin.jpeg " class="profil">
  <h2>mekni yassin</h2>
  <p id="tel"><ion-icon name="call" color="sacces"></ion-icon> +21622100300</p>
  <p><ion-icon name="mail-unread"></ion-icon> mekniyassin@gmail.com</p>
</div>
<div>

</div>
</ion-content>
