.profil{
    width:70px;
    height: 70px;
    border-radius: 100%;
    margin-top: 20px;
    margin-left: 35%;
    
  }

  p{
    margin-left: 20%;
 
   
 
  }
  h2{
    margin-left: 25%;
    font-weight: bold;
    margin-top: 10px;
   

  }
  #tel{
    margin-left: 29%;
    
  }
 