
<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      
    </ion-buttons>
    <ion-title>En cour ..</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-card>
  <img alt="Silhouette of mountains" src="/assets/icon/maps1.jpg" />
  <ion-card-header>
    <ion-card-title style="font-family: cursive;" color="warning"><img class="annuler"  src="/assets/icon/cours.png " /> En cour ..</ion-card-title>
    <ion-card-subtitle id="gras-">l'instant</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content class="ion-card-content">
    <ion-item class="item5">
      <ion-label class="item-label">
        <h3><ion-icon name="call-outline"></ion-icon> Numéro Télèphone</h3>
        <p style="color: #3880ff">97.001.956</p>
      </ion-label>
    </ion-item>
    <ion-item >
      <ion-label class="item-label">
        <h3><ion-icon name="calendar-outline" ></ion-icon> Imatriculation</h3>
        <p style="color: #3880ff">5826 TN 230</p>
      </ion-label>
    </ion-item>
    <ion-item >
      <ion-label class="item-label">
        <h3><ion-icon name="people-circle"></ion-icon> Nombre personne </h3>
        <p style="color: #3880ff">3 personnes</p>
      </ion-label>
    </ion-item>
    <ion-item >
      <ion-label class="item-label">
        <h3><ion-icon name="location-outline"color="danger"></ion-icon>Emplacement</h3>
        <p style="color: #3880ff">Ariana,Rue 1021</p>
      </ion-label>
    </ion-item>
    <ion-item >
      <ion-label class="item-label">
        <h3><ion-icon name="location-outline" color="success"></ion-icon>Destination</h3>
        <p style="color: #3880ff;" >      Marsa,Rue 8194</p>
      </ion-label>
    </ion-item>
    <!-- <p><ion-icon name="call-outline"></ion-icon> Numéro Télèphone:20.000.065 </p>
    <p><ion-icon name="calendar-outline" ></ion-icon> Imatriculation : 5826 TN 230 </p>
    <p><ion-icon name="calendar-outline" ></ion-icon> Nombre personne : 3  </p>
    <p><ion-icon name="location-outline"color="danger"></ion-icon>Emplacement : Marsa,Rue 8194</p>
    <h5><ion-icon name="location-outline" color="success"></ion-icon>Destination : Ariana,Rue 1021</h5> -->

    
    <br>
    <ion-button expand="block" shape="round" routerLink="/panne" >modifier</ion-button>
    <ion-button expand="block" shape="round"   color="danger" routerLink="//his" >Annuler</ion-button>
    

    <!-- <ion-modal color="light"
    trigger="open"
    [initialBreakpoint]="0.60"
    [breakpoints]="[0, 0.25, 0.5, 0.9]"
    handleBehavior="cycle"
    >
    <ng-template>
      <ion-content class="">
        
        <h1>Pourquoi souhaitez-vous annuler ?</h1>
    
    
        <ion-list>
          <ion-radio-group value="">
            <ion-item>
              <ion-label>j'ai résolu le problème</ion-label>
              <ion-radio slot="end" value="grapes"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>Adresse incorrecte</ion-label>
              <ion-radio slot="end" value="strawberries"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>Une autre raison</ion-label>
              <ion-radio slot="end" value="pineapple"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
        <ion-button expand="block" routerLink="/his">Terminer</ion-button>
      </ion-content>
    </ng-template>
    </ion-modal> -->
    
    