// ion-item {
//   margin-bottom: 10px;
// }

// ion-label {
//   font-weight: bold;
// }

// ion-button {
//   margin-top: 20px;
// }
// .styled1 {
//   margin-top: 6px;
//   width: 100%;
//   border: 0;
//   line-height: 2.5;
//   padding: 0 20px;
//   font-size: 1rem;
//   text-align: center;
//   color: #fff;
//   text-shadow: 1px 1px 1px #000;
//   border-radius: 10px;
//   background-color: rgba(220, 0, 0, 1);
//   background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
//   box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
// }
// .styled {

// width: 100%;
// border: 0;
// line-height: 2.5;
// padding: 0 20px;
// font-size: 1rem;
// text-align: center;
// color: #fff;
// text-shadow: 1px 1px 1px #000;
// border-radius: 10px;
// background-color: rgb(37, 0, 220);
// background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
// box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
// }
// .widhh{
//   width: 100%;
//   text-shadow: 1px 1px 1px #000;
//   color: #fff;
//   border-radius: 10px;
// }

// .cart{
//   margin-top: 20px;
// }

// .form-input > .item-native{
//   padding: 0px !important;
// }

// .color-red {
//   color: red;
// }
// .margin-item{
//   margin-left: 20px;
// }
// .Annuler{
//   margin-bottom: 4px;
//   width: 100%;
//   text-shadow: 1px 1px 1px #000;
//   color: #fff;
//   border-radius: 10px;

// }
// .p{
//   margin-bottom: 80px;
// }
// .text-label{
//   font-size: 90%;
  
// }



// .icons-input {
//   position: relative;
//     top: 3px;
   
// }

/* my-form.component.css */
.my-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius:20px;
  background-color:#f2f2f2;
}

ion-item {
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}



ion-input {
 
  padding: 5px;
  font-size: 16px;
}

ion-button {
  margin-top: 10px;
}

.radio-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.radio-buttons label {
  display: flex;
 
  align-items: center;
  margin-right:40px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: bold;
}

.radio-buttons input[type="radio"] {
  margin-right: 5px;
  font-size: 15px;
}

ion-button {
  margin-top: 10px;
}
.color-red{
  color: red;
}
ion-label{
  font-weight: bold;
}

