
<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      
    </ion-buttons>
    <ion-title>Annuler</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-card>
  <img alt="Silhouette of mountains" src="/assets/icon/maps1.jpg" />
  <ion-card-header>
    <ion-card-title style="font-family: cursive;" color="danger"><img class="annuler"  src="/assets/icon/annuler.png " />Annuler</ion-card-title>
    <ion-card-subtitle id="gras-">Le 05/10/2023 10:15</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content class="ion-card-content">
    <ion-item class="item5">
      <ion-label class="item-label">
        <h3><ion-icon name="call-outline"></ion-icon> Numéro Télèphone</h3>
        <p style="color: #3880ff">97.001.956</p>
      </ion-label>
    </ion-item>
    <ion-item >
      <ion-label class="item-label">
        <h3><ion-icon name="calendar-outline" ></ion-icon> Imatriculation</h3>
        <p style="color: #3880ff">5826 TN 230</p>
      </ion-label>
    </ion-item>
    <ion-item >
      <ion-label class="item-label">
        <h3><ion-icon name="people-circle"></ion-icon> Nombre personne </h3>
        <p style="color: #3880ff">3 personnes</p>
      </ion-label>
    </ion-item>
    <ion-item >
      <ion-label class="item-label">
        <h3><ion-icon name="location-outline"color="danger"></ion-icon>Emplacement</h3>
        <p style="color: #3880ff">Ariana,Rue 1021</p>
      </ion-label>
    </ion-item>
    <ion-item >
      <ion-label class="item-label">
        <h3><ion-icon name="location-outline" color="success"></ion-icon>Destination</h3>
        <p style="color: #3880ff;" >      Marsa,Rue 8194</p>
      </ion-label>
    </ion-item>
    <!-- <p><ion-icon name="call-outline"></ion-icon> Numéro Télèphone:20.000.065 </p>
    <p><ion-icon name="calendar-outline" ></ion-icon> Imatriculation : 5826 TN 230 </p>
    <p><ion-icon name="calendar-outline" ></ion-icon> Nombre personne : 3  </p>
    <p><ion-icon name="location-outline"color="danger"></ion-icon>Emplacement : Marsa,Rue 8194</p>
    <h5><ion-icon name="location-outline" color="success"></ion-icon>Destination : Ariana,Rue 1021</h5> -->

    
    <br>
    <ion-button expand="block" shape="round" routerLink="/panne" routerLink="">Publier a nouveau</ion-button>
    
    