
<ion-header>
  <ion-toolbar color="tertiary">
    
    <ion-title><ion-icon name="notifications"></ion-icon>  Notifications</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 style="text-align: center;margin: 22px 0px;">Traitement en cours</h1>
  <img  src="/assets/icon/3411092.jpg " class="profil">

  <p style="    padding: 0px 10px;
  text-align: center;
  font-size: 17px;">Votre demande est en cours de traitement. Veuillez patienter quelques minutes .. </p>

  
  <ion-button expand="block" style="margin: 0px 10px;">Annuler la demande</ion-button>


  
</ion-content>
