<ion-router-outlet></ion-router-outlet>

<ion-tabs >
    
  
  
    <ion-tab-bar slot="bottom"  >
      <ion-tab-button tab="acceuil" routerLink="/acceuil"  >
        <ion-icon name="home"></ion-icon>
        Acceuil
      </ion-tab-button>
      <ion-tab-button  routerLink="/his" tab="his" >
        <ion-icon name="list"></ion-icon>
        Historique
      </ion-tab-button>
      <ion-tab-button routerLink="/not" tab="not">
      
        <ion-icon name="notifications"></ion-icon>
        Notification
        <ion-badge color="danger">4</ion-badge>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
