<ion-content >
  <div class="image">
  <ion-img src="/assets/icon/arrive.jpeg" ></ion-img>
</div>
  <div class="w-100" >
    <ion-fab slot="fixed" vertical="top" horizontal="start" routerLink="/not" >
      <ion-fab-button color="light">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-fab slot="fixed" vertical="top" horizontal="end"  >
      <ion-fab-button color="light">
        <ion-icon name="list"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  <!-- <ion-button id="yassin" expand="block" shape="round" style="width: 100%;">Pré-affectée</ion-button> -->

  <div>
    
    <img  src="https://i.pravatar.cc/300?u=b" class="profil">
    <h2>Ben Salem Rami</h2>
    <p id="tel"><ion-icon name="call" color="sacces"></ion-icon> +216 22.100.300</p>
    <p id="tel"><ion-icon name="mail-unread"></ion-icon> 2589 TN 199</p>
  </div>
  <div>
  
  </div>

</div>
