<ion-header >
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Terminer </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="light">
  <div class="cdd">
    <img alt="Silhouette of mountains" src="assets/icon/maps1.jpg" />
    <ion-card-header>
      <ion-card-title style="font-family: cursive;" color="success"><img class="annuler"  src="/assets/icon/suc.png " /> Terminée</ion-card-title>
      <ion-card-subtitle><ion-icon name="calendar-outline"></ion-icon>Date Demande : Ven,3 Janvier, 09:15</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content >
      <p><ion-icon name="calendar-outline" ></ion-icon> Date Prise en charge :28 janvier 2023 , 10:00 </p>
      <p><ion-icon name="calendar-outline" ></ion-icon> Date Debut :28 janvier 2023 , 10:15 </p>
      <p><ion-icon name="calendar-outline" ></ion-icon> Date Fin :28 janvier 2023 , 11:31 </p>
      <p><ion-icon name="location-outline"color="danger"></ion-icon>Emplacement : Marsa,Rue 8194</p>
      <h5><ion-icon name="location-outline" color="success"></ion-icon>Destination : Ariana,Rue 1021</h5>

      
    
      

    </ion-card-content>
  </div>
</ion-content>