ion-avatar {
    height: 45px;
    width: 45px;
}
h3 {
    font-weight: 700;
    font-size: 15px;
}
.flex_box {
    display: flex;
    justify-content: space-between;
}
ion-note {
    font-size: 13px;
}
.text-icon {
    font-size: 22px;
    margin-bottom: -6px;
}
p {
    color: grey;
}
#p{
    color: orange;
}
#a{
    color: red;
}
#b{
    color: green;
}
h3{
    font-weight: 900;
    
}
.plus{
    margin-left: 10px;
}


