<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      
    </ion-buttons>
    <ion-title><ion-icon name="notifications"></ion-icon>  Notifications</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content color="light">
  
  
 
  <!-- <ion-card >
    <ion-card-header>
      <ion-card-title><h1>Notifications</h1></ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header >
    <ion-card-content color="light"> -->
      <h3 class="plus">Nouveau</h3>
      
      <ion-list color="light">
        <ion-item   color="light" class="bor">
          

          <ion-label>
            
            <div class="flex_box" routerLink="/notaff">
              <h3><ion-icon name="ellipse" color="tertiary"></ion-icon> Demande en ..</h3>
              <p>  il y a 2 minutes </p>
              <ion-icon name="ellipsis-vertical" slot="end" id="o" expand="block"></ion-icon>
            </div>
            
          </ion-label>
        </ion-item>
        <ion-item   color="light">
          

          <ion-label>
            
            <div class="flex_box" routerLink="/notcam">
              <h3><ion-icon name="ellipse" color="tertiary"></ion-icon> Demande aff..</h3>
              <p> il y a 4 minutes</p>
              <ion-icon name="ellipsis-vertical" slot="end" id="open-modal" expand="block"></ion-icon>
            </div>
            
          </ion-label>
        </ion-item>

    
        </ion-list>
       <h3 class="plus">Plus tôt</h3>
        <ion-list>

        <ion-item detail   >
 
          <ion-label>
            <div class="flex_box">
              <h2><ion-icon name="calendar-outline"></ion-icon> 30 Janvier 2023</h2>
              <ion-note slot="end">10:30</ion-note>
            </div>
           
          </ion-label>
        </ion-item>
       


 
        <ion-item detail  >

          <ion-label>
            <div class="flex_box">
              <h2><ion-icon name="calendar-outline"></ion-icon> 02 Février 2023</h2>
              <ion-note slot="end">13:00</ion-note>
            </div>
           
          </ion-label>
        </ion-item>
        <ion-item detail >

          <ion-label>
            <div class="flex_box">
              <h2><ion-icon name="calendar-outline"></ion-icon> 30 Février 2023</h2>
              <ion-note slot="end">05:30</ion-note>
            </div>
           
          </ion-label>
        </ion-item>
        <ion-item   color="light" class="bor">
          

          <ion-label>
            
            <div class="flex_box" routerLink="/notaff">
              <h3><ion-icon name="ellipse" color="tertiary"></ion-icon> 15 Mars ..</h3>
              <p>  il y a 20 jours </p>
              <ion-icon name="ellipsis-vertical" slot="end" id="o" expand="block"></ion-icon>
            </div>
            
          </ion-label>
        </ion-item>
        <ion-item detail  >

          <ion-label>
            <div class="flex_box">
              <h2><ion-icon name="calendar-outline"></ion-icon> 01 Mars 2023</h2>
              <ion-note slot="end">05:45</ion-note>
            </div>
           
          </ion-label>
        </ion-item>
        <ion-item detail  >

          <ion-label>
            <div class="flex_box">
              <h2><ion-icon name="calendar-outline"></ion-icon> 30 Janvier 2023</h2>
              <ion-note slot="end">10:48</ion-note>
            </div>
           
          </ion-label>
        </ion-item>
        <ion-item detail >

          <ion-label>
            <div class="flex_box">
              <h2><ion-icon name="calendar-outline"></ion-icon> 30 Janvier 2023</h2>
              <ion-note slot="end">10:30</ion-note>
            </div>
           
          </ion-label>
        </ion-item>

     

        <ion-item detail  >

          <ion-label>
            <div class="flex_box">
              <h2><ion-icon name="calendar-outline"></ion-icon> 30 Janvier 2023</h2>
              <p> il y a 10 heur</p>
              <ion-note slot="end">10:30</ion-note>
            </div>
            
          </ion-label>
        </ion-item>
        <ion-item detail  >

          <ion-label>
            <div class="flex_box">
              <h2><ion-icon name="calendar-outline"></ion-icon> 30 Janvier 2023</h2>
              <p> il y a 10 heur</p>
              <ion-note slot="end">10:30</ion-note>
            </div>
            
          </ion-label>
        </ion-item>
        <ion-item detail  >

          <ion-label>
            <div class="flex_box">
              <h2><ion-icon name="calendar-outline"></ion-icon> 30 Janvier 2023</h2>
              <p> il y a 10 heur</p>
              <ion-note slot="end">10:30</ion-note>
            </div>
            
          </ion-label>
        </ion-item>
        <ion-item detail  >

          <ion-label>
            <div class="flex_box">
              <h2><ion-icon name="calendar-outline"></ion-icon> 30 Janvier 2023</h2>
              <p> il y a 10 heur</p>
              <ion-note slot="end">10:30</ion-note>
            </div>
            
          </ion-label>
        </ion-item>
      </ion-list>
      